html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #303e48;
    font-weight: 200;
    font-size: 16px;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
}

.mobile-only {
    display: none;
}


/* promotion-slide */
.promotion-slide {
    background-color: #303E48;
    height: 38px;
    color: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.promotion-slide-region {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

img.hk-flag {
    width: 27px;
    margin-right: 6px;
}

.promotion-slide button {
    color: #fff;
}


*/ .promotion-slide-region>button {
    margin-left: 5px;
}

.promotion-slide-region span,
.promotion-slide-main button span {
    border-bottom: 2px solid #fff;
    line-height: 1.2;
}

.promotion-slide-main {
    width: 60%;
    text-align: center;
    font-size: 16px;
}

.promotion-slide-main button span:hover,
.promotion-slide-main button span:focus {
    border-bottom: none;
}

.promotion-slide-store-locator {
    flex: 1;
    text-align: end;
}

.promotion-slide-store-locator span {
    letter-spacing: 2px;
}

@media screen and (max-width:850px) {
    .promotion-slide {
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0px;
        z-index: 100;
    }

    .promotion-slide-region {
        display: none;
    }

    .promotion-slide-store-locator {
        display: none;
    }
}

/* navbar */
nav {
    background-color: #E3F0F9;
    padding: 0px 20px;
    box-sizing: border-box;
}

nav button {
    font-size: 16px;
    font-weight: lighter;

}


.upper-nav {
    display: flex;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
}



.upper-nav-left,
.upper-nav-right {
    flex: 1;
    display: flex;

    align-items: center;
}

.upper-nav-right {
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
}

.upper-nav-main {
    width: 50%;
    display: flex;
    justify-content: center;
}

.upper-nav-main img {
    max-width: 100px;
    margin-bottom: -20px;
}

.upper-nav-right img {
    width: 24px;
    margin: 0 15px;
}



.lower-nav {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.lower-nav .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lower-nav .nav-list li {
    padding: 5px 15px;

}

.lower-nav .nav-list li button:hover,
.lower-nav .nav-list li button:focus {
    font-weight: bold;
}

.gift button {
    display: flex;
    align-items: center;
}

.gift img {
    width: 26px;
    padding-left: 5px;
}

@media screen and (max-width:850px) {
    .mobile-only {
        display: block;
    }

    nav {
        position: fixed;
        width: 100%;
        top: 38px;
        z-index: 99;
        padding: 0 10px;
    }

    .upper-nav {
        box-sizing: border-box;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .upper-nav-left,
    .lower-nav {
        display: none;
    }

    .upper-nav-main {
        width: 50%;
    }

    .upper-nav-main img {
        width: 63px;
        margin-bottom: 0px;
    }

    .upper-nav button {
        flex: 1;
        text-align: left;

    }

    .menu-icon {
        font-size: 32px;

    }

}

@media screen and (max-width:500px) {
    #accountIcon {
        display: none;
    }
}

/* main banner */
.banner-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.banner-pink {
    padding-top: 33.65%;
    /* 702px/1920px = 0.3656 */
    display: block;
    background: url(img/pink_banner.jpg) no-repeat center top;
    background-size: cover;
}

.banner-wrapper .banner-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-wrapper .banner-content h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 0;
    text-align: center;
    letter-spacing: -0.2rem;
}

.banner-wrapper .banner-content p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}

.buy-btn {
    background-color: transparent;
    border: 1px solid #303e48;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    color: #303e48;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s;

}

.buy-btn:hover,
.buy-btn:focus {
    background-color: #395060;
    border-color: #395060;
    color: #fff;
}

@media screen and (max-width:850px) {
    .banner-wrapper {
        margin-top: 94px;
    }

    .banner-pink {
        padding-top: 125%;
        /* 702px/1920px = 0.3656 */
        display: block;
        background: url(img/pink_banner_vertical.jpg) no-repeat center top;
        background-size: cover;
    }

    .banner-wrapper .banner-content {
        position: absolute;
        top: 78%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-wrapper .banner-content h1 {
        font-size: 30px;
    }

    .banner-wrapper .banner-content p {
        font-size: 16px;
    }
}

/* main body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    width: 97%;
    max-width: 1210px;
}

/* article */

.article-wrapper {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.article-img-wrapper {
    width: 57%;
}

.article-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-content-wrapper h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.article-content-wrapper p {
    margin-top: 0;
    text-align: center;
}

@media screen and (max-width:850px) {
    main {
        padding: 0 10px;
    }

    .article-wrapper {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .article-img-wrapper {
        width: 100%;
    }

    .article-content-wrapper {
        padding: 10px 0;
    }

    .article-content-wrapper h2 {
        margin-bottom: 10px;
    }

    .article-wrapper .flex-reorder {
        order: -1;
    }
}

/* Best seller */
.best-seller {
    margin-top: 100px;
}

.best-seller h1,
.categories h1 {
    text-align: center;
    font-weight: 400;
    font-size: 60px;

}


.best-seller-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.best-seller-wrapper {
    min-width: 283px;
    margin: 0 10px;
}

.best-seller-wrapper img {
    width: 283px;
}

.best-seller-wrapper h3 {
    margin-top: 0px;
    font-weight: 400;
}

.best-seller-wrapper .best-seller-ratings {
    font-size: 13px;
}

.best-seller-content {
    padding: 10px 10px;
}

.best-seller-comment {
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    border-bottom: 0.5px solid #303e48;
}

.best-seller-ratings {
    flex: 1;
}

.best-seller-feedback {
    flex: 1.75;
    font-size: 13px;
}

.best-seller-pricing {
    font-family: serif;
    font-size: 20px;
    padding: 16px 0;

}

.best-seller-content select {
    width: 100%;
    padding: 6px 40px 6px 16px;
    font-family: Arial;
    font-size: 16px;
    color: #303E48;
    outline: none;
    border: 1px solid #303e48;
    border-radius: 4px;
}

.best-seller-content .add-to-cart {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #303e48;
    color: #fff;
    font-weight: 100;
}

@media screen and (max-width:650px) {
    .best-seller-wrapper {
        min-width: 202px;
    }

    .best-seller-wrapper h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .best-seller-comment {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }

    .best-seller-ratings {
        margin-bottom: 15px;
    }

    .best-seller-ratings .bi {

        font-size: 11px;
    }
}

/* categories section */
.categories-wrapper {
    display: flex;
    justify-content: center;
}

.cat-wrapper {
    width: 180px;
    margin: 0 10px;
    cursor: pointer;
}

.cat-img-wrapper {
    width: 100%;
}

.cat-img-wrapper img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 180px;
}

.cat-wrapper div {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}


.cat-animate:hover {
    animation-name: catAnimate;
    animation-duration: 0.5s;
}

@keyframes catAnimate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width:1220px) {
    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categories-wrapper {
        width: 700px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:650px) {
    .cat-wrapper {
        width: 100px;
    }

    .cat-img-wrapper {
        width: 100%;
    }

    .cat-img-wrapper img {
        width: 100%;
        height: 100px;
    }

    .categories-wrapper {
        width: 400px;
        flex-wrap: wrap;
    }

    .best-seller h1,
    .categories h1 {
        font-size: 40px;
    }

    .cat-wrapper div {
        font-size: 16px;
    }
}

/* explore product */
.explore {
    padding-top: 30px;
    margin-bottom: 50px;
    height: 60vh;
}

.explore h1 {
    font-size: 60px;
    font-weight: 400;
}

.ingredients {
    display: flex;
    cursor: pointer;
}

.ingredient-wrapper {
    min-width: 160px;
    margin: 0 20px;
}

.img-wrapper .bg-line {
    display: none;
}

.ingredient-wrapper img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.ingredient-wrapper .ingred-name {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.ingredient-wrapper .ingred-function,
.ingredient-wrapper:hover .ingred-long-desc {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.ingredient-wrapper .ingred-long-desc {
    transform: scale(0);
    transition: 0.5s;
}

.ingredient-wrapper:hover .ingred-long-desc {
    transform: scale(1);
    transition: 0.5s;
}


.ingredient-wrapper:hover .ingred-function {
    display: none;
}

.ingredients:hover .ingredient-wrapper {
    filter: blur(2px);
}

.ingredients .ingredient-wrapper:hover {
    filter: blur(0px);
    font-size: larger;
}

@media screen and (max-width:850px) {
    .explore {
        height: auto;
    }

    .explore h1 {
        font-size: 40px;
        font-weight: 400;

    }

    .ingredients {
        flex-direction: column;
        align-items: center;
        position: relative;
    }


    .ingredient-wrapper {
        display: flex;
        width: 500px;
        max-height: 160px;
        margin-bottom: 15px;

    }

    .ingredient-wrapper .img-wrapper,
    .ingredient-wrapper .ingred-desc,
    .ingredient-wrapper .spacing {
        flex: 1;
        max-width: 160px;
        height: 160px;
        box-sizing: border-box;
        /* border: 1px solid black; */
    }

    .ingredient-wrapper .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ingredient-wrapper .img-wrapper img {
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    .ingredient-wrapper .ingred-desc {
        flex: 1;
    }

    .ingredient-wrapper .spacing {
        flex: 1;
    }

    .ingredient-wrapper .ingred-long-desc {
        display: none;
    }

    .ingredients:hover .ingredient-wrapper {
        filter: blur(0px);
    }

    .ingred-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    }

    .ingredient-wrapper .first {
        order: -1;
    }

    .ingredient-wrapper .ingred-function {
        margin-top: 0px;
    }

    .ingredient-wrapper .ingred-function {
        font-size: 14px;
        margin-top: 10px;
    }

    .ingredient-wrapper:hover .ingred-function {
        display: block;
        transform: scale(0);
        transition: 0.5s;
    }

    .bg-line {
        display: block;
        border-left: 1px solid rgba(128, 128, 128, 0.5);
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}


/* footer */
footer {
    background-color: #303E48;
    min-height: 63.5vh;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;


}

.footer-wrapper {
    width: 90%;
    max-width: 1110px;
}

.white-logo-wrapper {
    padding: 64px 15px 40px;
}

.footer-content-wrapper {
    display: flex;
    width: 100%;
}

.footer-left {
    box-sizing: border-box;
    min-width: 300px;
    padding: 0 50px 0 15px;
    font-size: 14px;
}

.footer-left h3 {
    font-size: 28px;
    font-weight: 100;
    margin-top: 16px;
}

.footer-mobile-wrapper {
    display: flex;
    flex: 1;
    margin-bottom: 50px;
}

.col {
    flex: 1;
    min-width: 1px;
    padding: 0 20px;
}

.col-2 {
    flex: 0.75;
}

.footer-left input {
    margin-top: 20px;
    width: 224px;
    padding: 7px 16px 11px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


.email-intro-wrapper {
    display: flex;
}

.email-intro-wrapper img {
    width: 46px;
    height: 40px;
}

.email-intro-wrapper span {
    max-width: 230px;
}

p.title {
    font-weight: 900;
}

.col-4 p.title {
    padding-top: 3px;
}

.social-icon {
    margin-top: 40px;
    display: flex;
}

.social-icon img {
    width: 32px;
    color: #fff;
    padding-right: 10px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ul li {
    padding: 0px 0px 16px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

ul li a:visited {
    color: #fff;
    text-decoration: none;
}

.country-selection {
    display: flex;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 30px;
}

.country-selection span {
    color: #fff;
}

.privacy {
    display: flex;
    justify-content: center;
}

.privacy a {
    font-size: 12px;
    text-decoration: none;
    margin: 10px;
    ;
}

.privacy a:visited {
    color: #fff;
}

.copyright {
    font-size: 12px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0;
}

@media screen and (max-width:1080px) {
    .footer-mobile-wrapper {
        justify-content: space-between;
    }

    .footer-mobile-wrapper .col-2 {
        display: none;
    }

    .footer-left {
        padding-right: 25px;
    }

    .footer-mobile-wrapper .col-1,
    .footer-mobile-wrapper .col-3,
    .footer-mobile-wrapper .col-4 {
        max-width: 160px;
        box-sizing: border-box;
        padding: 0 10px;
    }
}

@media screen and (max-width:850px) {
    footer {
        height: auto;
    }

    .footer-content-wrapper {
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
    }

    .email-intro-wrapper {
        align-items: center;
    }

    .email-intro-wrapper span {
        padding-left: 10px;
    }

    .footer-left input {
        width: 100%;
        padding: 12px 14px;
    }

    .footer-mobile-wrapper {
        margin-top: 50px;
        flex-wrap: wrap;
    }


    .footer-mobile-wrapper .col-2 {
        display: block;
    }

    .footer-mobile-wrapper .col {
        flex: 1;
        min-width: 40vw;
        margin-bottom: 30px;
    }
}